body{
    background-color: #3b57cf;
    background-image: url(/static/stars.png);

    color: #ca7777;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #d12929;
    text-decoration: none;
}